@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* Light Theme (Default) */
@plugin "daisyui/theme" {
    name: "light";


    --color-primary: #ff7100;
    --color-secondary: #f8e152;
    --color-accent: #fef5bd;
    --color-accent-content: #cce8ff;
    --icon-color: #ff7100;
    --color-neutral: #FFF4E0;
    --color-base-content: #4B5563;
}

/* Dark Theme */
@plugin "daisyui/theme" {
    name: "dark";
    default: true;

    --color-primary: #ff7100;
    --color-secondary: #f8e152;
    --color-accent: #3B382D;
    --color-accent-content: #002b4c;
    --icon-color: #f8e152;
    --color-neutral: #33332A;
    --color-base-content: oklch(4.87 0.01 258.34 / 1);
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* Floating animation for the main image */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}

/* Slow bounce for decorative shapes */
@keyframes bounce-slow {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.animate-bounce-slow {
    animation: bounce-slow 5s ease-in-out infinite;
}

/* Slow spinning shapes */
@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 8s linear infinite;
}

/* Optional: add delay for some variation */
.delay-2000 {
    animation-delay: 2s;
}


.swiper-slide {
    transition: transform 0s !important;
}

.swiper-slide:hover {
    transform: none !important;
}

.swiper {
    overflow: visible;
}

.swiper-slide:hover {
    transform: none !important;
}